<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Đồ Án Tốt Nghiệp</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/assets/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/static/CSS/TrangChu/cover.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Bi-LSTM Using Attention</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Trang chủ</a>
          <a class="nav-link" href="/static/ThongTin/thongtin.html">Hướng dẫn sử dụng</a>
          <a class="nav-link" href="/static/LienHe/lienhe.html">Liên hệ</a>
        </nav>
      </div>
    </header>
    <main role="main" class="container">
      <div class="form-row">
        <label class="inputcomment">Nhập dữ liệu</label>
        <input id="input-text" class="form-control" placeholder="Nhập vào dữ liệu">
        <small id="noteHelp" class="form-text text-muted">Chúng tôi không thu thập bất kì dữ liệu nào mà người dùng nhập vào.</small>
      </div>
      <button id="submit" type="Submit" class="btn btn-primary">Đồng ý</button>
      <button id="delete" type="Delete" class="btn btn-primary">Xóa</button>
      <div class="form-row chart">
        <div id="chart"></div>
      </div>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>PHÂN LOẠI VĂN BẢN TIẾNG VIỆT SỬ DỤNG BIDIRECTIONAL LONG SHORT TERM MEMORY KẾT HỢP CƠ CHẾ ATTENTION</p>
      </div>
    </footer>
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="static/js/client.js"></script>
</body>

</html>